body {
	margin: 0px;
	background: #232323;
}
#canvasDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#canvas {
	display: inline-block;
  margin: auto;
  box-shadow: 0px 0px 20px #000000;
}